In [1]:
import pandas as pd

sales = pd.read_csv(r'N:\SQL\Retail Supply Chain\datasets\Retail Supply Chain Sales Dataset.csv', encoding='windows-1254')
sales.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Retail Sales People', 'Product ID',
       'Category', 'Sub-Category', 'Product Name', 'Returned', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [2]:
state_abbr = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA',
    'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT',
    'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM',
    'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
    'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
    'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'
}
# Map with State Code.
sales.loc[:, 'State Code'] = sales['State'].map(state_abbr)

# Get unique id for each location.
sales['Location ID'] = sales['State Code'] + '-' + sales['City'] + '-' + sales['Postal Code'].astype(str)

customers = sales[['Customer ID', 'Customer Name', 'Segment']]
products = sales[['Product ID', 'Category', 'Sub-Category', 'Product Name']]
geographic_locations = sales[['Location ID', 'Country', 'City', 'State', 'State Code', 'Postal Code', 'Region']]

# Finished the sales table.
sales = sales[['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Retail Sales People', 'Product ID', 'Location ID', 'Returned', 'Sales',
       'Quantity', 'Discount', 'Profit']]

In [3]:
# Drop duplicated to create many to one relationship with sales table.
customers = customers.drop_duplicates(subset='Customer ID')

# Check any duplicated values left in the customers table.
customers[customers.duplicated()]

Empty DataFrame
Columns: [Customer ID, Customer Name, Segment]
Index: []

In [5]:
products = products.drop_duplicates(subset='Product ID')
products[products.duplicated()]

Empty DataFrame
Columns: [Product ID, Category, Sub-Category, Product Name]
Index: []

In [6]:
geographic_locations = geographic_locations.drop_duplicates(subset='Location ID')
geographic_locations[geographic_locations.duplicated()]

Empty DataFrame
Columns: [Location ID, Country, City, State, State Code, Postal Code, Region]
Index: []

In [7]:
import os

def export_csv(tables_dict):
    for name, df in tables_dict.items(): 
        try:
            filepath = os.path.join(r"N:\SQL\Retail Supply Chain\datasets", f"{name}.csv")
            df.to_csv(filepath, encoding='utf-8', index=False)
            print(f"{name}.csv successfully exported.")
        except Exception as e:
            print(f"An error occurred while processing {name}: {e}")
    print("All exports are completed.")

export_csv({
    "sales": sales,
    "customers": customers,
    "products": products,
    "geographic_locations": geographic_locations
})

sales.csv successfully exported.
customers.csv successfully exported.
products.csv successfully exported.
geographic_locations.csv successfully exported.
All exports are completed.